

.promo-message {
	padding-left:30px;
}

.guide-light {
	border:1px solid #fff;
	background: rgba(0,0,50, .07);
	border-radius: 5px;
	color:#333;
}

.guide {
	border:1px solid #fff;
	background: rgba(0,0,50, .1);
	border-radius: 5px;
	color:#333;
}

.guide-dark {
	border:1px solid #fff;
	background: rgba(0,0,50, .5);
	border-radius: 5px;
	color:#333;
}


/* FLEXBOX NEWS CARD */

.news-card {
  min-height: 320px;
  margin:1em 0;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:hidden;
  background-color: #fff;
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	border-top:1px solid #eee;
}

.news-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.news-card h3, .news-card h6 {
  padding:0 20px 0 20px;
  color:#000;
}

.news-card p  {
  padding:0 1em 0 1em;
}

.news-card .button-link {
  width: 100%;
  padding:1em;
}

/* PATTERN LIBRARY STYLING*/

code {
	font-family: 'Source Code Pro', 'Consolas', monospace;
	color: #ec008c;
	border:1px solid #dedede;
	background-color: #fff;
	padding: .25em .5em;
	display: inline-block;
	margin: 0 0 .25em;
	border-radius: 5px;
}


.grey-bg code {
	margin-top:1em;
}

/* SLIDER IMAGES */

.bg-img-brand-guide {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('https://www.unsplash.it/1981/400');
	background-size: cover;
}

.bg-img-1 {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('https://www.unsplash.it/1900/400');
	background-size: cover;
}

.bg-img-2 {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('https://www.unsplash.it/1920/450');
	background-size: cover;
}

.bg-img-3 {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('https://www.unsplash.it/1920/300');
	background-size: cover;
}

.row-padding .column {padding-bottom:30px !important;}



/*SM BREAKPOINT*/
@media screen and (max-width: 758px) {
  .fw-section-xl {
    display: block;
    height: auto;
  }
}
/*BACKGROUND IMAGES size should be at least 1000px wide*/

.fw-section-xl {
  background-image: url(https://www.unsplash.it/1920/980);
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:40px;
  background-size: cover;
  margin-bottom:30px;
}

/* .column {
  margin-bottom:30px;
} */
