/* UI */

/* Typography */
.text-xxlg {
	font-size:42px;
}

.text-xlg {
	font-size:30px;
}

.text-lg {
	font-size:20px
}

.text-med {
	font-size:18px
}

.text-sm {
	font-size:16px;
}

/* COLORS */
.pnypro-light-blue {
	color:#3399cc
}

.pnypro-blue-fill {
	padding:30px;
	background-color:#3399cc
}

.pnypro-dark-blue {
	color:#006699
}

.pnypro-dark-blue-fill {
	padding:30px;
	background-color:#006699
}

.nvidia-green {
	color:#76b900
}

.nvidia-green-fill {
	padding:30px;
	background-color:#76b900
}

.nvidia-dark-green {
	color:#004831
}

.nvidia-dark-green-fill {
	padding:30px;
	background-color:#004831
}

.nvidia-volta-gold-fill {
	padding:30px;
	background-color:#999966;
}

/* GREY TONES */
.dark-grey-fill {background-color: #333333}
.grey-fill {background-color: #656565}
.light-grey-fill {background-color: #dedede}
.faint-grey-fill {background-color: #eeeeee}

/* Button */
.primary-button-lg, .primary-button-med, .primary-button-sm {
	background-color: #3399cc;
	border:1px solid #3399cc;
	color:#fff;
	padding:1em 1.5em;
	display: inline-block;
	text-align: center;
}

.secondary-button-lg, .secondary-button-med, .secondary-button-sm {
	border:1px solid #3399cc;
	color:#3399cc;
	padding:1em 1.5em;
	display: inline-block;
	text-align: center;
}

/* Button Size */
.primary-button-lg, .secondary-button-lg {
	font-size: 20px;
	min-width: 180px;
}
.primary-button-med, .secondary-button-med {
	font-size:18px;
	min-width: 162px;
}
.primary-button-sm, .secondary-button-sm {
	font-size: 16px;
	min-width: 144px;
}

/* Button Hover */
.primary-button-lg:hover, .primary-button-med:hover, .primary-button-sm:hover {
	background-color: #006699;
	border:1px solid #006699;
	color:#fff !important;
}

.secondary-button-lg:hover, .secondary-button-med:hover, .secondary-button-sm:hover {
	background-color: #006699;
	border:1px solid #006699;
	color:#fff !important;
}

/* Text Button */
.text-button {
	color: #3399cc;
}

.text-button:hover {
	color:#006699 !important;
}

.stretch {
	width: 100%;
	text-align: center;
}


.button-group {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.button-group .primary-button-lg, .button-group .primary-button-med, .button-group .primary-button-sm, .button-group .secondary-button-lg, .button-group .secondary-button-med, .button-group .secondary-button-sm {
	flex:1 0 auto;
	margin:0 .5rem 1rem;
}

@media only screen and (max-width:758px) {
	/* Makes Buttons 100% width on Mobile */
	/* .primary-button-lg, .secondary-button-lg,
	.primary-button-med, .secondary-button-med,
	.primary-button-sm, .secondary-button-sm {
		width: 100%;
	} */

	/* Adds margin to Buttons on Mobile */

	.button-group {
		width: 100%;
	}

	.button-group .primary-button-lg, .button-group .primary-button-med, .button-group .primary-button-sm, .button-group .secondary-button-lg, .button-group .secondary-button-med, .button-group .secondary-button-sm {
		flex: 1 0 100%;
		margin:0 0 1rem;
	}
}



/* UTILITIES */

.padded {
	padding:30px;
}

.grey-bg {
	background-color: #eee;
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bg {
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bg-sm {
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3em 0;
}

p.intro {
	border-left:1px solid #dedede;
	padding-left:1em;
}
