.video-container {
  height: 90vh;
  max-height: 1080px;
  overflow: hidden;

}

video {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translateX(50%) translateY(50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

.overlay-desc {
  overflow: hidden;
  background: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width:758px) {

/* HOMEPAGE VIDEO */
.video-container {
  height: 600px;
  background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('https://www.pny.com/Image%20Library/Promo/homepage-creators-poster.png');
  background-size: cover;
  background-position: center;
  padding:2em 0;
}

}
