/* CLASSES FOR MORE ARROW */

    .pos-relative {
      position: relative;
    }

    @keyframes bouncing {
        0% {bottom: 0;}
        50% {bottom: 15px;}
        100% {bottom: 0;}
    }

    .arrow {
        animation: bouncing 4s infinite ease-in-out;
        margin: auto;
        left: 0;
        right: 0;
        display: block;
        height: 50px;
        position: absolute;
        width: 50px;
    }

/* PRODUCT LIST (CATEGORY PAGE) */

    .product-list-copy {
      font-weight: bold;
      font-size:18px;
    }

    .product-list-header {
      padding-left: 0.4em;
      margin-top: 0;
      padding-bottom: 0.1em;
      padding-top: 0.1em;
      color: #ffffff !important;
      width: fit-content;
      display: table;
      padding-right: 0.5em;
    }

/* TEXT COLORS */
    .otg-bg h2, .usb-bg h2 {
      background-color: #0099ff;
    }

    .geforce-bg h2, .ssd-bg h2, .memory-bg h2,{
      background-color: #AF0102;
    }

    .accessories-bg h2 {
      background-color: #ff5016;
    }

    .powerpack-bg h2 {
      background-color: #ff6633;
    }

    .flash-bg h2 {
      background-color: #66cc33;
    }



    /* BACKGROUNDS */

    .max-height {
    height:90vh;
    background-size:cover ;
    background-position: center;
    }

    .geforce-bg {
    background-image: url('http://www.pny.com/Image%20Library/Page%20Banners/lg-geforce-rtx-banner-new.jpg');
    }

    .memory-bg {
    background-image: url('http://www.pny.com/Image%20Library/Page%20Banners/lg-memory-new-banner.jpg');
    }
    .ssd-bg {
    background-image: url('http://www.pny.com/Image%20Library/Page%20Banners/lg-ssd-new-banner.jpg');
    }

    .flash-bg {
    background-image: url('http://www.pny.com/Image%20Library/Page%20Banners/lg-flash-memory-new-banner.jpg');
    }

    .powerpack-bg {
    background-image: url('http://www.pny.com/Image%20Library/Page%20Banners/lg-flash-memory-new-banner.jpg');
    }

    .powerpack-bg {
      background-image: url('http://www.pny.com/Image%20Library/Page%20Banners/lg-powerpack-new-banner.jpg');
    }

    .otg-bg {
    background-image: url('http://www.pny.com/Image%20Library/Page%20Banners/lg-OTG-flash-drive-new-banner.jpg')
    }
    .usb-bg {
    background-image: url('http://www.pny.com/Image%20Library/Page%20Banners/lg-usb-new-banner.jpg')
    }


/* HIDE ARROW ON MOBILE */

    @media only screen and (min-width:520px) and (max-width:758px) {
      .max-height {
        height:auto;
        padding:60px 0;
      }
      .arrow {
        display:none;
      }
    }

    @media only screen and (max-width:520px) {
      .max-height {
        height: auto;
        padding:30px 0 200px;
      }
      .arrow {
        display: none;
      }
    }
