/* OVERLINE COLORS */

.hvr-quadro:before {background: #2098D1;}
.hvr-xlr8:before {background: #9E0B0F;}
.hvr-nvidia:before {background: #76b900;}
.hvr-nvidia:before {background: #76b900;}
.hvr-flash:before {background: #66cc33;}
.hvr-power:before {background: #ff6633;}
.hvr-usb:before {background: #0099ff;}


/* OVERLINE ANIMATION */

.hvr-overline {
 position: relative;
 display: inline-block;
 vertical-align: middle;
 overflow: hidden;
 box-shadow: 0 0 1px transparent;
 -webkit-transform: perspective(1px) translateZ(0);
 transform: perspective(1px) translateZ(0);
}
.hvr-overline:before {
 content: "";
 position: absolute;
 top: 0;
 right: 0;
 left: 0;
 z-index: -1;
 height: 20px;
 -webkit-transition-property: transform;
 transition-property: transform;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-timing-function: ease-out;
 transition-timing-function: ease-out;
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
}
.hvr-overline:hover:before, .hvr-overline:focus:before, .hvr-overline:active:before {
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
