.tabbed-content{
  margin: 0 auto;
  background: #000;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #000;

}
ul.tabs li{
  text-align: center;
  color:#fff;
  width: 50%;
  padding:1em;
  background: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

ul.tabs li.current{
  color:red;
  border-bottom:5px solid red;
}

.tab-content{
  display: none;
}

.tab-content.current{
  display: inherit;
}

@media only screen and (max-width:758px) {
  ul.tabs li {
    display: block;
    width: 33%
  }
}
