.tabbed-content{
  margin: 0 auto;
  background-color: #000;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul.tabs li{
  text-align: center;
  width: 20%;
  background: none;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  padding:1em;
  border-bottom:5px solid #dedede;
  font-weight: bold;
  text-transform: uppercase;
}

ul.tabs li.current{
  color:#76b900;
  border-bottom:5px solid #76b900
}

.tab-content{
  display: none;
}

.tab-content.current{
  display: inherit;
}

@media only screen and (max-width:758px) {
  ul.tabs li {
    display: block;
    width: 100%
  }
}
