.sticky-nav {
  background: #333;
}

.sticky-nav a {
  margin:0;
  color:#fff;
  display: inline-block;
  padding:2em  ;
}

.sticky-nav a:hover {
  color:#fff;
  background-color:#0099cc;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:100
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .sticky-nav {
  padding-top: 200;
}


a[name]:not([href]){
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}
